body {
  background-color: #282c34;
}

.App {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.VideosWrapper {
  width: 100vw;
  height: 100vh;
}

.Videos {
  display: flex;
  flex-wrap: wrap;
}

.Video {
  position: relative;
  display: flex;
  /* width: 640px; */
  height: 480px;
  padding: 5px;
}

.Name {
  position: absolute;
  z-index: 10;
  margin: 0;
  bottom: 10px;
  left: 10px;
}
